In [118]:
import os
import pandas as pd
import numpy as np
import datetime

In [119]:
X_train = pd.read_csv(r"/Users/yanhanpeng/Desktop/favorita-grocery-sales-forecasting/real_train.csv")

In [120]:
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn import neural_network

In [121]:
Y_train=X_train['unit_sales']

In [122]:
X_train.drop(['unit_sales'],axis=1,inplace=True)

In [123]:
X_train.drop(['store_city'],axis=1,inplace=True)

In [124]:
X_train.drop(['store_state'],axis=1,inplace=True)

In [125]:
X_train.drop(['store_type'],axis=1,inplace=True)

In [126]:
X_train.drop(['item_family'],axis=1,inplace=True)

In [127]:
X_train.drop(['year'],axis=1,inplace=True)

In [128]:
X_train.drop(['month'],axis=1,inplace=True)

In [129]:
X_train.drop(['item_nbr'],axis=1,inplace=True)

In [130]:
X_train.head()

,store_nbr,transactions,store_cluster,item_class,item_perishable,count_national_holiday,count_regional_holiday,count_local_holiday,count_days_onpromotion
0,40,5441,3,2174,1,1,0,0,4
1,40,43693,3,2174,1,15,0,0,31
2,40,45699,3,2174,1,21,0,0,33
3,40,37534,3,2174,1,0,0,1,28
4,40,2971,3,2174,1,0,0,0,2

In [131]:
X_validation=pd.read_csv(r"/Users/yanhanpeng/Desktop/favorita-grocery-sales-forecasting/val.csv")

In [132]:
Y_validation=X_validation['unit_sales']

In [133]:
X_validation.drop(['unit_sales'],axis=1,inplace=True)

In [134]:
X_validation.drop(['store_city'],axis=1,inplace=True)

In [135]:
X_validation.drop(['store_state'],axis=1,inplace=True)

In [108]:
X_validation.drop(['item_family'],axis=1,inplace=True)

In [136]:
X_validation.head()

,year,month,item_nbr,store_nbr,transactions,store_type,store_cluster,item_family,item_class,item_perishable,count_national_holiday,count_regional_holiday,count_local_holiday,count_days_onpromotion
0,2014,1,1693652,40,35256,C,3,PRODUCE,2018,1,1,0,0,0
1,2014,3,1693652,40,38406,C,3,PRODUCE,2018,1,2,0,0,0
2,2014,7,1693652,40,41872,C,3,PRODUCE,2018,1,7,0,0,32
3,2014,9,1693652,40,30525,C,3,PRODUCE,2018,1,0,0,0,23
4,2014,10,1693652,40,39529,C,3,PRODUCE,2018,1,2,0,0,31

In [137]:
X_validation.drop(['year'],axis=1,inplace=True)

In [138]:
X_validation.drop(['month'],axis=1,inplace=True)

In [139]:
X_validation.drop(['store_type'],axis=1,inplace=True)

In [140]:
X_validation.drop(['item_nbr'],axis=1,inplace=True)

In [114]:
X_validation.drop(['item_family'],axis=1,inplace=True)

KeyError: "['item_family'] not found in axis"

In [141]:
X_validation.head()

,store_nbr,transactions,store_cluster,item_family,item_class,item_perishable,count_national_holiday,count_regional_holiday,count_local_holiday,count_days_onpromotion
0,40,35256,3,PRODUCE,2018,1,1,0,0,0
1,40,38406,3,PRODUCE,2018,1,2,0,0,0
2,40,41872,3,PRODUCE,2018,1,7,0,0,32
3,40,30525,3,PRODUCE,2018,1,0,0,0,23
4,40,39529,3,PRODUCE,2018,1,2,0,0,31

In [142]:
X_validation.drop(['item_family'],axis=1,inplace=True)

In [143]:
X_validation.head()

,store_nbr,transactions,store_cluster,item_class,item_perishable,count_national_holiday,count_regional_holiday,count_local_holiday,count_days_onpromotion
0,40,35256,3,2018,1,1,0,0,0
1,40,38406,3,2018,1,2,0,0,0
2,40,41872,3,2018,1,7,0,0,32
3,40,30525,3,2018,1,0,0,0,23
4,40,39529,3,2018,1,2,0,0,31

In [153]:
Y_validation

0     1049
1     1113
2      665
3      466
4      778
5      793
6      901
7      599
8       38
9      709
10     790
11     757
12     734
13     645
14     813
15     734
16     643
17     734
18     721
19     687
20     745
21      45
22     723
23     788
24     743
25     743
26     649
27     853
28     715
29     498
30     590
31     666
32     881
33    1105
34      86
Name: unit_sales, dtype: int64

In [154]:
reg = linear_model.LinearRegression()

In [155]:
reg= linear_model.LinearRegression()
reg.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [156]:

Y_train_pred = reg.predict(X_train)

print("Train Mean squared error: %.3f"
      % mean_squared_error(Y_train, Y_train_pred))


Y_validation_pred = reg.predict(X_validation)

print("Validation Mean squared error: %.3f"
      % mean_squared_error(Y_validation, Y_validation_pred))

Train Mean squared error: 4097.803
Validation Mean squared error: 339883.888

In [160]:
X_test = pd.read_csv(r"/Users/yanhanpeng/Desktop/favorita-grocery-sales-forecasting/test2.csv")

In [161]:
Y_test=X_test ['unit_sales']

In [162]:
X_test.drop(['unit_sales'],axis=1,inplace=True)

In [163]:
X_test.drop(['store_city'],axis=1,inplace=True)

In [164]:
X_test.drop(['store_state'],axis=1,inplace=True)

In [165]:
X_test.drop(['item_family'],axis=1,inplace=True)

In [166]:
X_test.drop(['year'],axis=1,inplace=True)

In [167]:
X_test.drop(['month'],axis=1,inplace=True)

In [168]:
X_test.drop(['item_nbr'],axis=1,inplace=True)

In [169]:
X_test.head()

,store_nbr,transactions,store_type,store_cluster,item_class,item_perishable,count_national_holiday,count_regional_holiday,count_local_holiday,count_days_onpromotion
0,40,24653,C,3,2116,1,3,0,0,0
1,40,23305,C,3,2116,1,2,0,0,0
2,40,31925,C,3,2116,1,0,0,0,0
3,40,29060,C,3,2116,1,1,0,0,0
4,40,32505,C,3,2116,1,4,0,0,0

In [172]:
X_test.drop(['store_type'],axis=1,inplace=True)

In [174]:
X_test.head()

,store_nbr,transactions,store_cluster,item_class,item_perishable,count_national_holiday,count_regional_holiday,count_local_holiday,count_days_onpromotion
0,40,24653,3,2116,1,3,0,0,0
1,40,23305,3,2116,1,2,0,0,0
2,40,31925,3,2116,1,0,0,0,0
3,40,29060,3,2116,1,1,0,0,0
4,40,32505,3,2116,1,4,0,0,0

In [175]:
reg2= linear_model.LinearRegression()
reg.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [176]:
Y_train_pred = reg.predict(X_train)

print("Train Mean squared error: %.3f"
      % mean_squared_error(Y_train, Y_train_pred))


Y_test_pred = reg.predict(X_test)

print("Validation Mean squared error: %.3f"
      % mean_squared_error(Y_test, Y_test_pred))

Train Mean squared error: 4097.803
Validation Mean squared error: 7415.513